#div_main img{
    margin: 2%;
    max-height: 50%;
    max-width:  50%;
}
#div_form_ajout_image
{
/*   display: none;*/
   border-radius: 10px;
   position:absolute;
   top:50%;
   left:50%;
   margin-left:-150px; /* -largeur/2 */
   margin-top:-100px; /* -hauteur/2 */
   text-align: center;
   background-color: #BFC4BE;
   border: 10px solid black;
   background-size:100% 100%;
   z-index: -2;
}
#div_form_ajout_image img
{
   width: 15px;
   height: 15px;
   margin-right: 10%;
   margin-top: 5%;
}
#div_form_ajout_image img:hover
{
   cursor:pointer;
}