html, body, #div_main
{
    width: 100%;
}
html,body
{
    height: 100%;
}body
{
    background-color: #ECF2EB;
    background-size: 100% 100%;
    margin: 0px;
}
#div_main
{
    text-align: center;
    width: 65%;
    margin: auto;
    min-width: 760px;
    min-height: 760px;
    border: 10px solid black;
    background-color: #BFC4BE;
}