html, body, #div_main
{
    width: 100%;
}
html,body
{
    height: 100%;
}body
{
    background-color: #ECF2EB;
    background-size: 100% 100%;
    margin: 0px;
}
#div_main
{
    text-align: center;
    width: 65%;
    margin: auto;
    min-width: 760px;
    min-height: 760px;
    border: 10px solid black;
    background-color: #BFC4BE;
}
#div_form_connexion,#div_form_inscription,#div_form_ajout_image
{
/*   display: none;*/
   border-radius: 10px;
   position:absolute;
   top:50%;
   left:50%;
   margin-left:-150px; /* -largeur/2 */
   margin-top:-100px; /* -hauteur/2 */
   text-align: center;
   background-color: #BFC4BE;
   border: 10px solid black;
   background-size:100% 100%;
   z-index: -2;
}

#div_img
{
   text-align: right;
}
#_insc{
    text-align: right;
}

#div_form_connexion img,#div_form_inscription img,#div_form_ajout_image img
{
   width: 15px;
   height: 15px;
   margin-right: 10%;
   margin-top: 5%;
}
#div_form_connexion img:hover,#div_form_inscription img:hover,#div_form_ajout_image img:hover
{
   cursor:pointer;
}
#div_form_connexion form,#div_form_inscription form,#div_form_inscription form
{
   margin: 30px;
}
#div_form_connexion input,#div_form_inscription input,#div_form_inscription input
{
   width: 180px;
}
#div_form_connexion table,#div_form_inscription table
{
   text-align: left;
   font-weight: bold;
}
#div_form_connexion table td,#div_form_inscription table td
{
   padding-left: 5px;
   padding-right: 5px;
}